#header {
  .navbar {
    &-brand {
      font-size: 50px;
      color: red;
    }

    .nav-item {
        
      .nav-link {
        color: black;
        transition: all 0.5s;
        margin-left: 35px;
        &:hover {
          color: orange;
          transform: translateY(-10px);
        }
        i{
            font-size: 30px;
            margin-right: 10px;
        }

        
      }
    }
  }
}
